<!DOCTYPE html>
{% load static %} 
<html lang="en">

    <head>
        <title>Story 8</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="{% static 'js/jquery-3.5.0.min.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <style>
            .card {
                border: 2px;                
            }
            .card-body {
                border: 1px;
            }
            .white {
                color: white;
            }
            .dimgray {
                background-color: dimgray;
            }
            .black {
                background-color: black;
            }
        </style>
    </head>
    <body>
        <h1 style="width: 100vw; text-align: center; margin-top: 10vh;">Story 8</h1>
        <section style="margin: 10vh 20vw;">
            <div class="accordion" id="accordionExample">
                <div class="card" id="a1">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                        <div id="acc1">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Profile
                            <button id="up1" class="button" name="up1" onclick="up(a1)">^</button>
                            <button id="down1" class="button" name="down1" onclick="down(a1)">V</button>
                        </button>
                        </div>
                        </h2>
                    </div>
                
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul>
                                <li>Name: Yafi Ahsan Hakim</li>
                                <li>NPM: 1806241242</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card" id="a2">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                        <div id="acc2">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Current Activities
                            <button id="up2" class="button" name="up2" onclick="up(a2)">^</button>
                            <button id="down2" class="button" name="down2" onclick="down(a2)">V</button>
                        </button>
                        </div>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul>
                                <li>Eat</li>
                                <li>Watch youtube</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card" id="a3">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                        <div id="acc3">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Organizational Experience
                            <button id="up3" class="button" name="up3" onclick="up(a3)">^</button>
                            <button id="down3" class="button" name="down3" onclick="down(a3)">V</button>
                        </button>
                        </div>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul>
                                <li>student council in middle school</li>
                                <li>Alpus incredible sponsorship committee</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card" id="a4">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                        <div id="acc4">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                            Achievements 
                            <button id="up4" class="button" name="up4" onclick="up(a4)">^</button>
                            <button id="down4" class="button" name="down4" onclick="down(a4)">V</button>
                        </button>
                        </div>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul>
                                <li>finished all map of jump king</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container" style="margin: 0 auto; width: 100%; text-align: center;">
            <button id="changeTheme" class="button" name="changeTheme" onclick="changeTheme()">Change Theme</button>
        </div>
    </body>
    <script type="text/javascript">

        function up(arg) {
            var accordion =  $(arg);
            accordion.prev().insertAfter(accordion);
        }

        function down(arg) {
            var accordion = $(arg);
            accordion.next().insertBefore(accordion);
        }
        
        function changeTheme() {
            $('body').toggleClass('black');
            $('h1').toggleClass('white');
            $('.card').toggleClass('dimgray');
            $('.btn-link').toggleClass('white');
            $('li').toggleClass('white');
        }
    </script>
</html>
